h1{
font-family: 'Montserrat', sans-serif;
font-size: 45px;
margin-top: 50px;
margin-left: 80px;
margin-right: 550px;
color: #C10039;
}
h2{
font-family: 'Montserrat', sans-serif;
font-size: 20px;
margin-top: 50px;
margin-left: 80px;
margin-right: 550px;
}

ul {
  list-style-type: none;
  margin-right: : 80px;
  padding: 0;
}

li {
  float: right;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 13px 5px;
  text-decoration: none;
}

li a:hover {
  color: #C10039;
}

a {
  font-family: 'Montserrat', sans-serif;
  display: block;
  padding: 8px;
  margin-right: 80px;
}
.column {
  float: left;
  width: 25%;
  margin-left: 80px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.row {
  margin-top: 300px;
}

.line1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: left;
  margin-top: 200px;
}
.column1 {
  float: left;
  width: 24%;
  margin-left: 100px;
  margin-top: 200px;
}
.column2 {
  float: left;
  width: 24%;
  margin-left: 135px;
  margin-top: 200px;
}
.column3 {
  float: left;
  width: 24%;
  margin-left: 103px;
  margin-top: 200px;
}
.column1 img {
  margin-left: 35px;
  padding-top: 15px;
}
.column3 img {
  width: 40%;
  margin-left: 20px;
}
.pic1 img{
  float: right;
  margin-top: -350px;
  margin-right: 80px;
}
.pic2 img {
  float: right;
  margin-top: -200px;
  margin-right: 80px;
}
img {
  margin-left: 40px;
  width: 30%;
}
